BOT_TOKEN=8393604173:AAE2b4k4h3F5Jz8Xk9LpQ2WvR7YnT0UvZ1A
WEBHOOK_URL=https://web-with-chikuu.onrender.com
MONGO_URI=mongodb+srv://chikuu:chikuu123@cluster0.mongodb.net/webbuilder?retryWrites=true&w=majority
PORT=10000
WEBHOOK_SECRET=my_secret_909090_chikuu
ADMIN_ID=8165254615