BOT_TOKEN=8971380386:AAE4kZO35_eweB9bdRsHI_P8rgbp1MdiRw0
WEBHOOK_URL=https://web-with-chikuu.onrender.com
MONGO_URI=mongodb+srv://chikuu:chikuu123@cluster0.mongodb.net/webbuilder?retryWrites=true&w=majority
PORT=10000
WEBHOOK_SECRET=my_secret_909090_chikuu
ADMIN_ID=8536757095